header {
    height: 125px;
    padding:0;
    margin: 0;
    background-image: url('../img/pattern.png');
    background-color: cornflowerblue;

}

.logo{
    position: relative;
    bottom: 10;
    height: 60px;
}

h1{
    font-size: 50px;
    margin:0;
}

h3,h4{
    margin:0;
    color: grey;
}

h4{
    font-size: smaller;
}

span{
    color:rgb(0, 102, 255)
}

.titolo,.immagini{
    margin: 10px 0;
}

.dettagli-foto{
    font-size:small;
    margin:0;
}